{% import "_includes/forms" as forms %}
{% import 'commerce-shipmondo/_includes/macros' as macros %}
<div id="order-sync" class="hidden flex-fields">
	{{ adminChangesWarning }}

	{{ forms.multiselectField({
		label:        "Push orders to Shipmondo"|t('commerce-shipmondo'),
		instructions: "Orders with these statuses will be pushed automatically to Shipmondo."|t('commerce-shipmondo'),
		id:           'orderStatusesToPush',
		name:         'orderStatusesToPush',
		options:      settings.getOrderStatuses(),
		values:       settings.orderStatusesToPush,
		errors:       settings.getErrors('orderStatusesToPush'),
		class: 'selectize fullwidth',
		disabled:     not allowAdminChanges,
		warning: macros.configWarning('orderStatusesToPush', 'commerce-shipmondo'),
		readonly: macros.readOnly('orderStatusesToPush', 'commerce-shipmondo'),
	}) }}

	{{ forms.editableTableField({
		label: 'Automatic Craft order status updates'|t('commerce-shipmondo'),
		instructions: 'You can map specific Shipmondo order status to a craft order status. Order status will be updated automatically when the shipondo order status changes.'|t('commerce-shipmondo'),
		id: 'mapping',
		name: 'orderStatusMapping',
		cols: {
			shipmondo: {
				type: "select",
				options: settings.getShipmondoStatuses,
				heading: 'Shipmondo status'|t('commerce-shipmondo')
			},
			craft: {
				type: 'select',
				options: settings.getOrderStatuses(),
				heading: 'Craft order status'|t('commerce-shipmondo')
			},
		},
		rows: settings.orderStatusMapping,
		allowAdd: true,
		allowReorder: false,
		allowDelete: true,
		static:     not allowAdminChanges,
		warning: macros.configWarning('orderStatusMapping', 'commerce-shipmondo'),
	}) }}
</div>
