{% import '_includes/forms' as forms -%}
<hr>
<h2>Shipmondo</h2>

<div class="flex-fields">
  <div class="field width-50">
  {{ forms.selectField({
    label: 'Shipmondo shipping template' | t('shipmondo'),
    instructions: 'Choose the Shipmondo shipping templates' | t('shipmondo'),
    id: 'shipmondoTemplateId',
    name: 'shipmondoTemplateId',
    value: shipmondoTemplateId,
    options: shipmondoTemplates,
    required: true
  }) }}
  </div>
  <div class="field width-50">
  {{ forms.lightswitchField({
      label: "Use own agreement"|t,
      id: 'useOwnAgreement',
      name: 'useOwnAgreement',
      instructions: "If checked, shipments will use own agreement",
      value: 1,
      on: useOwnAgreement,
      errors: shippingMethod.getErrors('useOwnAgreement')
    }) }}
  </div>
</div>
