{% import '_includes/forms' as forms -%}
<hr>
<h2>Shipmondo</h2>

<div class="flex-fields">
  <div class="field width-50">
  {{ forms.selectField({
    label: 'Shipmondo shipping template' | t('shipmondo'),
    instructions: 'Choose the Shipmondo shipping templates' | t('shipmondo'),
    id: 'shipmondoTemplateId',
    name: 'shipmondoTemplateId',
    value: shipmondoTemplateId,
    options: shipmondoTemplates,
    required: true
  }) }}
  </div>
</div>
